<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="login-pe">
    <div class="form">
        <h1 class="error"><%= error %></h1>
        <p class="error"><a href="/">Back to login</a></p>
    </div>
  </div>
</body>

</html>