<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="login-pe">
    <div class="form">
      <form class="login-form" method="POST" action="/login">
        <input type="text" placeholder="username" name="username" />
        <input type="password" placeholder="password" name="password" />
        <button>login</button>
        <p class="message">Not registered? <a href="/register/view">Create an account</a></p>
      </form>
    </div>
  </div>
</body>

</html>