<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="login-pe">

    <div class="form">
      <% if (message) { %>
      <p class="error"><%= message %></p>
      <% } %>
      <form class="register-form" method="POST" action="/register/">
        <input type="text" placeholder="name" name="username" />
        <input type="password" placeholder="password" name="password" />
        <input type="text" placeholder="email address" name="email" />
        <button>create</button>
        <p class="message">Already registered? <a href="/">Sign In</a></p>
      </form>
    </div>
  </div>
</body>

</html>