<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="login-pe">
    <div class="success">
        <h1 class="success message"><%= message %></h1>
        <p><a href="/">Back to login</a></p>
    </div>
  </div>
</body>

</html>